/* This is the stylesheet for the index.html page ONLY */

/***** GLOBAL MAIN CONTENT STYLING *****/
/* Entire background */
body {
    background-color: #283747;
}

/* all header, paragraph, link and footer tags will be styled this way */
h1, h2, h3, h4, h5, h6, footer, p, a {
    /* google font */
    font-family:"Sofia Sans Extra Condensed", sans-serif;
    letter-spacing: 0.1rem;
    color: white;
}

/* Aligning all text to center */
.main {
    text-align: center;
}

/* Styles the website description */
.main p {
    margin: 0% 12%;
}

/* footer style */
footer {
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-bottom: 20px;
}

/* Styling the image box, adds margin to img sides */
.todays-picture {
    /* old sizing: */
    /* margin: 0% 15%; */
    /* new sizing: */
    margin: 0% 14%;
}
/* Fits picture of the day to website width so that it doesn't go offscreen. (incorperates 
Img will automatically resize based on screen size */
.todays-picture img {
    width: 100%;
    height: auto;
    border: 1.5px solid grey;
}



/***** GLOBAL STYLING THE MENU *****/
/* Menu box */
.menu {
    background-color: #BBC0D1;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* (adds the option to scroll */
    overflow-x: hidden;
    transition: 1s ease;
    /* white-space: nowrap; */
}
/* Hides the scrolling bar for menu but keeps functionality (for chrome) */
.menu::-webkit-scrollbar {
    display: none;
}
/* Hides the scrolling bar in menu but keeps functionality (for firefox) */
.menu {
    scrollbar-width: none; 
}

/* Menu List */
.menu ul {
    list-style-type: none;
    display: block;
    text-align: left;
    padding: 10px 20px;
}
/* Menu list items */
.menu ul li {
    background-color: white;
    border: 1px solid grey;
}
/* Menu links stylization */
.menu ul li a {
    text-decoration: none; /* removes underline from link */
    padding: 10px 20px;
    display: block;
    color: grey;
    font-weight: bold;
}
/* Date entering box style */
.date-input {
    border: 1px solid grey;
    color: grey;
    padding: 3% 12%;
    font-family:"Sofia Sans Extra Condensed", sans-serif;
    /* Adds caps lock */
    text-transform: uppercase;
}
.date-submit {
    background-color: white;
    border: 1px solid grey;
    padding: 5px 20px;
    color: grey;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Sofia Sans Extra Condensed", sans-serif;
}
.date-submit:hover {
    cursor: pointer;
}

/* Aligns copyright to center */
.copyright-menu {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

/* Close button style */
.close-menu {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 2rem;
}
/* Close button on hover */
.close-menu:hover {
    cursor: pointer;
}

/* Open button style */
.open-menu {
    color: white;
    font-size: 2rem;
    background: none;
    border: none;
}
/* Open button on hover */
.open-menu:hover {
    cursor: pointer;
}



/***** DESKTOP ONLY STYLING, for 1920x1080p screens *****/
@media screen and (max-width: 1920px) {
    /* Menu size when opened should be 300px maximum
    This is what the javascipt menu opening code will refer to*/
    .menu {
        max-width: 300px;
        /* delays menu opening/closing duration animation */
        transition: 1.5s;
        transition-delay: 0.2s;
    }
    
    /* animates movement of content in main to side when menu is opened */
    #main {
        transition: margin-left 1s;
    }

    /*** Menu styles ***/
    /* Menu Title */
    .menu h1 {
        font-size: 60px;
        margin: 0px 20px;
    }  
    /* Menu links */
    .menu ul li {
        margin: 15px 0px;
    }
    .menu ul li a {
        font-size: 20px;
    }
    /* Enter date */
    .enter-date {
        text-align: center;
    }
    .enter-date h3 {
        font-size: 1.7rem;
        margin-bottom: 10px;
    }
    .date-input {
        font-size: 1.2rem;
    }
}


/* To be styled: */
/***** TABLET ONLY STYLING *****/
@media screen and (max-width: 800px) {
    /* Menu size when opened should be 800px maximum (cover whole screen) 
    This is what the javascipt menu opening code will refer to */
    .menu {
        max-width: 800px;
    }

    /* Menu Title */
    .menu h1 {
        font-size: 35px;
        margin: 0px 20px;
    }  
}


/***** PHONE ONLY STYLING *****/
@media screen and (max-width: 500px) {
    /* Menu size when opened should be 500px maximum (cover whole screen)
    This is what the javascipt menu opening code will refer to */
    .menu {
        max-width: 100%;
    }

    /* Menu Title */
    .menu h1 {
        font-size: 20px;
        margin: 0px 20px;
    }  
}